/* 
      font-family: "Playwrite NO", cursive;

      

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: white;
    background-image: linear-gradient(135deg, #0a76ac, #470f87);
    min-height: 100vh;

    font-family: Arial, Helvetica, sans-serif;

    font-size: 16px;
    font-family: "Playwrite NO", cursive;

}

::selection {
    background-color: gold;
    color: black;
}

.master-cont {
    border: 2px dotted black;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    min-height: 100vh;
    padding: 10px;

    /* box-shadow:  0 0 10px 1px gold; */
    /* background-color: rgba(255, 255, 255, 0.146);
        background-color: rgba(30, 54, 75, 0.608); */

}




.main-header {
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 15px;
    padding-left: 10px;
    padding-right: 10px;

    background-color: rgb(2, 46, 84);
    border-radius: 16px;

    /* color: black; */
}

h1 {
    font-family: "Playwrite NO", cursive;
    font-weight: 400;
    /* background-color: #084b3b; */
    border-radius: 8px;
    padding: 5px;
    /* border: 2px solid red; */
    flex-grow: 1;
    /* text-align: center; */

}

.nav {
    list-style: none;
    /* border: 2px solid yellow; */
    padding: 10px;
    display: flex;
    width: 60%;
    flex-grow: 2;

    justify-content: center;
    gap: 25px;

}

.nav li {

    /* background-color: rgb(1, 47, 87); */
    /* border: 1px solid red; */
    border-radius: 8px;
    padding: 7px;
    font-size: large;
}

.log {
    /* border: 2px solid pink; */
    padding: 5px;
    display: flex;
    gap: 5px;
    flex-grow: 1;
    justify-content: space-evenly;

}


.log>button {
    all: unset;
    width: 75px;
    height: 30px;
    padding: 2px;
    border-radius: 8px;

    text-align: center;


    

}
button:hover,.nav>li:hover{
    cursor: pointer;
    /* opacity: 50%; */
    box-shadow: 0 0 10px 5px gray inset;
}

.log button:nth-child(1) {
    background-color: rgb(155, 73, 22);
    color: white;
    font-weight: 500;
}

.log button:nth-child(2) {
    background-color: rgb(42, 14, 202);
    color: rgb(255, 255, 255);
}