html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: white;
    background-image: linear-gradient(135deg, #0a76ac, #470f87);
    min-height: 100vh;

    font-family: Arial, Helvetica, sans-serif;

    font-size: 16px;
    font-family: "Playwrite NO", cursive;

}

::selection {
    background-color: gold;
    color: black;
}

.master-cont {
    border: 2px dotted black;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    min-height: 100vh;
    padding: 10px;

    /* box-shadow:  0 0 10px 1px gold; */
    /* background-color: rgba(255, 255, 255, 0.146);
        background-color: rgba(30, 54, 75, 0.608); */
    position: relative;

    display: flex;
    flex-direction: column;
    gap: 20px;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto 1fr auto;

}

.main-header,
footer {
    grid-column: span 4;
}

.cont {
    grid-column: span 3;

}

.sidebar {
    grid-column: 4/5;
    grid-row: 2/3;
    border: 2px solid red;

    height: 450px;
    position: fixed;

    position: sticky;
    top: 10px;

}




.main-header {
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 15px;
    padding-left: 10px;
    padding-right: 10px;

    background-color: rgb(2, 46, 84);
    border-radius: 16px;

    /* color: black; */

    margin-bottom: 10px;
}

h1 {
    font-family: "Playwrite NO", cursive;
    font-weight: 400;
    /* background-color: #084b3b; */
    border-radius: 8px;
    padding: 5px;
    /* border: 2px solid red; */
    flex-grow: 1;
    /* text-align: center; */

}

h1:hover {
    transition: transform 2s;
    transform: rotate(-10deg) scale(1.1);
}

.nav {
    list-style: none;
    /* border: 2px solid yellow; */
    padding: 10px;
    display: flex;
    width: 60%;
    flex-grow: 2;

    justify-content: center;
    gap: 25px;

}

.nav li {

    /* background-color: rgb(1, 47, 87); */
    /* border-radius: 8px; */
    padding: 7px;
    font-size: large;
    border: 3px solid transparent;


}

.nav li:hover {
    transition: border 0.3s;
    border-bottom: 3px solid rgb(0, 0, 0);

    /* transition: border 0.4s; */
    cursor: pointer;
}


.log {
    /* border: 2px solid pink; */
    padding: 5px;
    display: flex;
    gap: 5px;
    flex-grow: 1;
    justify-content: space-evenly;

}

.log a {
    all: unset;
}


.log>button {
    all: unset;
    width: 75px;
    height: 30px;
    padding: 2px;
    border-radius: 8px;

    text-align: center;


    transition: transform 0.3s linear, background-color 0.3s linear;


}

button:hover {
    cursor: pointer;
    /* box-shadow: 0 0 10px 5px gray inset; */
    transform: scale(0.95);
    background-color: #84b7cf94 !important;
    /* color: red !important; */


}

.log button:nth-child(1) {
    background-color: rgb(155, 73, 22);
    color: white;
    font-weight: 500;
}

.log button:nth-child(2) {
    background-color: rgb(36, 202, 14);
    color: rgb(255, 255, 255);
}

.cont {
    width: 100%;
    border: 2px solid rgb(128, 0, 9);
    height: 550px;

}

.last {
    margin-bottom: 90px;
}


.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: block;
    padding: 10px;
    background-color: #333;
    color: white;
    border-radius: 50%;
    text-decoration: none;
    font-size: 20px;
    line-height: 1;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border:2px solid #333 ;

    transition: background 0.4s linear;
}
.back-to-top:hover{
    background-color: #4f4f4f;
    border:2px solid #333 ;

}


footer {
    background-image: linear-gradient(135deg, black, rgb(14, 46, 58));
    /* border: 2px solid red; */
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 90px;

    font-family: monospace;
    font-size: 14px;


    padding: 15px;

    display: flex;
    justify-content: space-between;
    align-items: flex-end;


    padding: 10px;

}


footer ul {
    list-style: none;
}

footer a {
    all: unset;
    transition: color 1s;

}



footer a:hover {
    cursor: pointer;
    color: #17b0d6;
    transition: all 1s;



}

footer ul {
    display: flex;
    gap: 20px;
    /* border: 2px solid red; */
}

.sidebar {

    padding: 10px;

    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #00767a;
    color: black;



}

.sidebar>h2 {
    text-decoration: underline;
    margin: 5px auto 5px auto;
    /* border: 1px solid red; */
}

.custom-list li a {
    all: unset;
}

.custom-list {
    list-style: none;
    padding: 0;
    margin-left: 10px;

    font-family: Arial, Helvetica, sans-serif;
}

.custom-list li {
    position: relative;
    padding-left: 30px;
    margin-bottom: 15px;
    color: rgb(14, 46, 58);

    cursor: pointer;
}

.custom-list li:hover {

    color: rgb(139, 2, 2);
    /* transform: scale(1.1); */
    transform: translateY(-2px);


}

.custom-list li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0px;
    width: 20px;
    height: 20px;
    background-image: url("../images/icon/star.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.hr-line {
    margin: 5px auto;
    width: 90%;
    height: 2px;
    background-color: red;
}

/* main Scrollbar */
::-webkit-scrollbar {
    width: 15px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: #a9a9a9;
    /* border-radius: 10px; */
    border-radius: 0;
}

::-webkit-scrollbar-thumb {
    background: #08a561;
    /* border-radius: 10px; */
}

/* subscrollbar */
.sidebar::-webkit-scrollbar {
    width: 15px;
    height: 10px;
}

.sidebar::-webkit-scrollbar-track {
    background: #a9a9a9;
    border-radius: 10px;
}

.sidebar::-webkit-scrollbar-thumb {
    background: rgb(0, 41, 107);
    border-radius: 10px;
}

.nav li a {
    all: unset;

}

/* .cont:-webkit-scrollbar{
    width: 10px;
    height: 15px;
    }
    .cont:-webkit-scrollbar-track{
        background: blue;
        }
        .cont::-webkit-scrollbar-thumb{
            background-color: red;
            } */
.cont {
    overflow: hidden;
    overflow-y: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 9px;
    align-items: center;
}

.cont:nth-child(even) {

    background: linear-gradient(135deg, rgb(16, 81, 84), rgb(3, 40, 53));
}

.cont:nth-child(odd) {

    background: linear-gradient(135deg, rgb(16, 33, 84), rgb(8, 3, 53));

}

.cont>h2 {
    text-align: center;
    /* background-color: blue; */

    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 12px;
    /* box-shadow: 0 0 10px 1px gray; */
    margin-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 27px;
    color: rgb(14, 5, 78);
    background-color: #f8f001;

}


.cont .paragraphs {

    /* all: unset; */
    border: 2px solid;
    padding: 5px;
    color: black;

    /* background-color: rebeccapurple; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;

    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style-position: inside;
}

.cont li {
    padding: 10px;
    font-weight: bold;
}

.cont .paragraphs li:nth-child(odd) {
    background-color: rgb(105, 99, 99);
    /* color: #f7df55; */
}

.cont .paragraphs li:nth-child(even) {
    background-color: rgb(156, 163, 158);
    color: rgb(6, 63, 132);
}

.Examples {
    /* border: 2px solid; */
    width: 100%;
    gap: 7px;
    display: flex;
    flex-direction: column;

}

.cont .Example-head {
    /* border: 2px solid green; */
    background-color: rgb(103, 156, 200);
    color: black;

    /* text-decoration: underline; */
    margin-top: 5px;
    /* margin-left: 10px; */
    border-radius: 8px;

    padding: 5px;

    width: fit-content;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: bold;


}

.cont .Example {
    padding: 10px;
    border-radius: 8px;
    font-family: monospace;
    background-color: #1e1e1e;
    color: rgb(16, 255, 16);
    font-weight: bold;
    width: fit-content;
    margin: auto;


}

.hr {
    width: 70%;
    height: 2px;
    background-color: rgb(0, 208, 255);
    border: 1px solid red;
}

.cont2 .Examples .Example:first-of-type {
    margin-bottom: 10px;
}

.cont2 .Examples .Example:nth-child(n+3) {
    align-self: flex-start;
    /* border: 2px solid; */
    color: yellow;
}